@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

body{
    margin-block-end: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Sofia Sans, sans-serif;
    /* font-weight: lighter;
    font-size: 1em; */
    background-image: url(images/pexels-photo-110854.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 16px; */
    /* background-color: black; */
    color: white
}



a{
    /* display: flex;
    justify-content: end; */
    color: white;
    font-size: large;
    font-weight: 400;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(227, 112, 218);
}

h1{
    font-family: Comic Neue, cursive;
    /* color: rgb(68, 159, 228); */
    padding-top: 3%;
    padding-bottom: 4%;
    font-size: 5.6em;
    margin-block-end: 0;
    margin-block-start: 0;
    background-color: rgb(0, 170, 255);
    background-image: linear-gradient(45deg, #f378e7, #2ca1ef);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

li {
    list-style: none;
}

.page-container {
    padding: 16px;
    width: 90%;
}

.upper-box{
    align-items: center;
    /* background-color: rgb(170, 190, 245); */
    /* background-color: gainsboro; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 16px; */
    font-size: large;
    line-height: 150%;
}

.search{
    padding-top: 5%;

}
/* 
.hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: red;
  } */

.middle-box{
    align-items: center; 
    display: flex;
    padding-left: 66px;
    padding-top: 3%;
    width: 35%;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.description{
    font-weight: normal;
    padding: 40px;

}

.lower-box{
    align-items: center;
    display: grid;
    grid-template-columns: 70% 30%;
    /* color: rgb(68, 159, 228); */
}

img{
    width: 850px;
    margin-top: 30px;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 5%;
}

footer {
    background: #0417a7;
    color: white 
    /* display flex; */
    /* this doesnt appear to be working? */
  }

.list {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
    /* justify-content: center; */
    padding: 40px;
    text-align: center;
    font-family: Sofia Sans, sans-serif;
    font-size: medium;
    font-weight: 100;

}

/* doesn't appear to be working? */
@media screen and (max-width: 600px) {
    .page-container {
      float: none;
      width: 100%;
    }
  }
